Repository Vizzuality/landgriffon, pull requests merged in 2023-07, with the labels that each got.

#1000 [LMS-30] video added to The Service hero
  marketing/src/containers/the-service/hero/component.tsx
Labels: front-end, marketing

#1001 [LMS-5] images replace in The Service img composition
  marketing/public/images/service/example/01.png
  marketing/public/images/service/example/02.png
  marketing/public/images/service/example/03.png
  marketing/public/images/service/example/04.png
  marketing/public/images/service/example/05.png
Labels: front-end, marketing

#982 [LMS-23] Changes Methodology text: Data sources & update logos with higher res
  client/CHANGELOG.md
  client/src/components/forms/select/component.tsx
  marketing/public/images/logos/FAO.png
  marketing/public/images/logos/IBAT.png
  marketing/public/images/logos/WWF.png
  marketing/public/images/logos/aqueduct.png
  marketing/public/images/logos/copernicus_logo.png
  marketing/public/images/logos/earthstat.png
  marketing/public/images/logos/gfw.png
  marketing/public/images/logos/mapspam.png
  marketing/public/images/logos/satelligence.png
  marketing/public/images/logos/water-footprint-network.png
  marketing/src/containers/home/developed/component.tsx
  marketing/src/containers/methodology/data-providers/component.tsx
Labels: front-end, marketing

#1007 [LMS-21] Methodology: regulations section
  marketing/public/images/methodology/regulations/SBTN.png
  marketing/public/images/methodology/regulations/SDG_06.png
  marketing/public/images/methodology/regulations/SDG_08.png
  marketing/public/images/methodology/regulations/SDG_12.png
  marketing/public/images/methodology/regulations/SDG_13.png
  marketing/public/images/methodology/regulations/SDG_14.png
  marketing/public/images/methodology/regulations/SDG_15.png
  marketing/public/images/methodology/regulations/tnfd_logo.png
  marketing/src/containers/methodology/component.tsx
  marketing/src/containers/methodology/regulations/component.tsx
  marketing/src/containers/methodology/regulations/index.ts
Labels: front-end, marketing

#1008 Add T1 Supplier and Producer to analysis 'group by' filter
  client/CHANGELOG.md
  client/src/containers/analysis-visualization/analysis-filters/group-by/component.tsx
Labels: front-end

#1025 [LMS-31] title change
  marketing/src/containers/the-service/hero/component.tsx
Labels: front-end, marketing

#1026 Space and letter missing
  marketing/src/containers/home/what/component.tsx
Labels: front-end, marketing

#1024 Fix remove badge when unselecting 'T1 supplier' filter in analysis
  client/CHANGELOG.md
  client/src/containers/analysis-visualization/analysis-dynamic-metadata/component.tsx
Labels: bugfix, client

#1027 Fix intervention creation: business units check strategy
  client/CHANGELOG.md
  client/src/containers/interventions/form/component.tsx
Labels: bugfix, client

#1029 Fix edit intervention admin region
  client/CHANGELOG.md
  client/src/containers/interventions/form/component.tsx
Labels: bugfix, client

#1045 Feedback for the service and about
  marketing/src/containers/about/component.tsx
  marketing/src/containers/the-service/component.tsx
  marketing/src/containers/the-service/hero/component.tsx
  marketing/src/containers/the-service/steps/04/component.tsx
  marketing/src/containers/the-service/steps/05/component.tsx
  marketing/src/containers/the-service/steps/05/index.ts
Labels: front-end, marketing
