Repository Vizzuality/landgriffon, pull requests merged in 2023-10, with the labels that each got.

#1079 Add units to analysis table individual indicators
  client/CHANGELOG.md
  client/src/containers/admin/data-upload-error/component.tsx
  client/src/containers/analysis-visualization/analysis-table/component.tsx
Labels: bugfix, client

#1080 updated about page in marketing site
  marketing/src/containers/about/reason/component.tsx
  marketing/src/containers/home/developed/component.tsx
Labels: marketing

#1081 fixed when to show data table
  client/src/containers/admin/data-upload-error/component.tsx
  client/src/hooks/tasks/index.ts
  client/src/pages/data/index.tsx
Labels: front-end

#1082 fix intervention dto in creation when location type changed
  client/src/containers/interventions/form/component.tsx
  client/src/containers/interventions/form/schema-validation.ts
  client/src/containers/interventions/form/types.ts
  client/src/pages/data/scenarios/[scenarioId]/interventions/new.tsx
Labels: front-end
