Repository Vizzuality/landgriffon, pull requests merged in 2023-06, with the labels that each got.

#970 Fixes vector ingestion to slugify column names
  data/h3_data_importer/vector_folder_to_h3_table.py
Labels: science

#972 Fix missing material_to_h3 refs
  data/h3_data_importer/raster_folder_to_h3_table.py
Labels: science

#980 [LMS-29] Remove team members
  marketing/src/containers/about/team/team.ts
Labels: front-end, marketing

#983 [LMS-27] About section moved above contact box
  marketing/src/containers/about/component.tsx
Labels: front-end, marketing

#981 [LMS-12] Design: Change powered by Vizzuality section
  marketing/public/images/home/developed/image2_landing.jpg
  marketing/public/images/logos/ESA_logo.png
  marketing/public/images/logos/Mars.png
  marketing/public/images/logos/Microsoft.png
  marketing/public/images/logos/NASA_color.png
  marketing/public/images/logos/WRI.png
  marketing/public/images/logos/WWF.png
  marketing/public/images/logos/google_color.png
  marketing/src/containers/home/developed/component.tsx
  marketing/src/containers/methodology/data-providers/component.tsx
Labels: front-end, marketing

#992 Update sidebar style
  client/CHANGELOG.md
  client/public/images/LG-logo.svg
  client/src/containers/logo/component.tsx
  client/src/containers/navigation/desktop/component.tsx
  client/src/containers/user-dropdown/component.tsx
  client/src/layouts/application/component.tsx
Labels: front-end

#965 [LANDGRIF-1402] Separating suppliers in two different dropdowns: t1 supplier and producers
  client/CHANGELOG.md
  client/cypress/e2e/analysis/filters.cy.ts
  client/cypress/support/commands.ts
  client/package.json
  client/src/components/forms/select/component.tsx
  client/src/containers/analysis-visualization/analysis-dynamic-metadata/component.tsx
  client/src/containers/analysis-visualization/analysis-filters/materials/component.tsx
  client/src/containers/analysis-visualization/analysis-filters/more-filters/component.tsx
  client/src/containers/analysis-visualization/analysis-filters/origin-regions/component.tsx
  client/src/containers/analysis-visualization/analysis-filters/suppliers/index.tsx
  client/src/containers/interventions/form/component.tsx
  client/src/containers/locations/select/component.tsx
  client/src/containers/materials/select/component.tsx
  client/src/hooks/admin-regions/index.ts
  client/src/hooks/h3-data/utils.ts
  client/src/hooks/location-types/index.ts
  client/src/hooks/materials/index.ts
  client/src/hooks/suppliers/index.ts
  client/src/store/features/analysis/filters.ts
  client/src/store/features/analysis/selector.ts
  client/src/types.d.ts
  client/yarn.lock
Labels: front-end

#997 [LMS-3] move video and put images back in the Service
  marketing/src/containers/home/features/component.tsx
  marketing/src/containers/the-service/hero/component.tsx
Labels: front-end, marketing

#998 [LMS-16] The service: image and text change in step 2
  marketing/public/images/service/steps/step_2.png
  marketing/src/containers/the-service/steps/02/component.tsx
Labels: front-end, marketing

#996 [LMS-10][LMS-11] Section "LandGriffon is built in your mind" texts and icons changed
  marketing/src/containers/home/features/component.tsx
  marketing/src/svgs/home/features/icn_comm.svg
  marketing/src/svgs/home/features/icn_enterprise.svg
  marketing/src/svgs/home/features/icn_flexible.svg
  marketing/src/svgs/home/features/icn_picture.svg
  marketing/src/svgs/home/features/icn_science.svg
  marketing/src/svgs/home/features/icn_search.svg
Labels: front-end, marketing

#999 [LMS-20][LMS-24] Erase steps in methodology and change text in hero
  marketing/src/containers/methodology/component.tsx
  marketing/src/containers/methodology/hero/component.tsx
  marketing/src/containers/methodology/steps/01/component.tsx
  marketing/src/containers/methodology/steps/01/index.ts
  marketing/src/containers/methodology/steps/02/component.tsx
  marketing/src/containers/methodology/steps/02/index.ts
  marketing/src/containers/methodology/steps/component.tsx
  marketing/src/containers/methodology/steps/index.ts
Labels: front-end, marketing
